{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Real Time Enviromental Monitoring Site">
  <meta name="keywords" content="Django, Channels, Angularjs">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/snapdots.css" %}" rel="stylesheet">
</head>

<body>

  <section id="lateral">
    <div id="container">   
      <div id="logo-container">
        <img id="logo" src="/static/images/snapdots_logo.png"/>
      </div>
      <div id="title-container">
        <p id="title">Snapdots</p>
        <p id="subtitle">Real Time Environmental Monitoring</p>
      </div>
    </div> 
    
    <ul id="menu">
      <li><a href="{% url 'sensors:sensor' %}">Dashboard</a></li>
      <li><a href="{% url 'sensors:devices' %}">Devices</a></li>
      <li><a href="{% url 'sensors:report' %}">Report</a></li>
    </ul>
    <footer>
    <p>Copyright &copy; 2017</p>
    <p><a id="snapdot-link" href="http://www.snapdots.com">SnapDots</a></p>
    
    <img id="QR" src="/static/images/QRCode.png"/> 
    </footer>
    

  </section>

  <section id="principal">
 
    {% block content %}
    {% endblock %}
  
  </section>
  

  <script type= "text/javascript" src= "/static/js/jquery-1.12.1.min.js"></script>
  <script type= "text/javascript" src= "/static/js/reconnecting-websocket.js"></script>
  <script type= "text/javascript" src= "/static/js/sensors.js"></script>

</body>

</html>