{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Real Time Enviromental Monitoring Site">
  <meta name="keywords" content="Django, Channels, Angularjs">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/snapdots.css" %}" rel="stylesheet">
</head>

<body>
   
  <section id="lateral">
    
    <img id="images" src="/static/images/snapdots_logo.png"/>
    
    <div class="title">
      <h2>SnapDots</h2>
      <h3>Environmental Monitoring</h3>
    </div>

    <ul>
      <li>Dashboard</li>
      <li>Devices</li>
      <li>Report</li>
    </ul>
    <footer class="footer">
    Copyright &copy; 2017  <address><a href=”http://www.snapdots.com”>SnapDots</a></address> 
    <img src="/static/images/QRCode.png" width="50" height="50" /> 
    </footer>

  </section>

  <section id="principal">
  {% block content %}
  {% endblock %}
  </section>


  


  

  <script type= "text/javascript" src= "/static/js/jquery-1.12.1.min.js"></script>
  <script type= "text/javascript" src= "/static/js/reconnecting-websocket.js"></script>
  <script type= "text/javascript" src= "/static/js/sensors.js"></script>

</body>

</html>