{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Real Time Enviromental Monitoring Site">
  <title>{% block title %}SnapDots{% endblock %}</title>
  <link href="{% static "css/snapdots.css" %}" rel="stylesheet">
  
</head>

<body>
  <header>
    <h1>SnapDots-Real Time Environmental Monitoring</h1>
</header>
    
  <div class="section">
    <div class="container">
          <h2>Sensor Reading</h2>
    </div>
    <div class="sensors">
      <p class="readings">
        <strong id="sensor">Values= {{sensor}} </strong>
      </p>
    </div>
  
  <script type= "text/javascript" src= "/static/js/jquery-1.12.1.min.js"></script>
  <script type= "text/javascript" src= "/static/js/reconnecting-websocket.js"></script>
  <script type= "text/javascript" src= "/static/js/sensors.js"></script>

</body>

</html>