.background-img{
	/*background: transparent url('../img/bg.jpg') repeat scroll 0 0;*/
    background: transparent url('../img/bgnoise.png') repeat scroll 0 0;
	/*background: #FFF url('../img/gas.gif') repeat fixed 0 0;       */
	/*background: transparent url('../img/top_bg.jpg') repeat scroll 0 0;*/
}
 
.content-container{
	padding-left: 2%; 
	padding-right: 2%;
}

.page-content{
	min-height: 100%;
	height: 100%;
}

.main-scroll{
	overflow-y:scroll;
	height: 100%;
}

.main-scroll-limit{
	height: 100%;
}

.taskbar_panels {
    width: 100% !important; 
    position: absolute !important; 
    bottom: 0 !important; 
    z-index: 999 !important;
}